# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py
.env
.env.*

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml

# Pipenv / poetry / virtualenv
Pipfile.lock
poetry.lock
*.venv/
venv/
ENV/
env/
.venv/
